/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
	--line-height: 21.78px;
	font-family: "Inter", "Times New Roman", sans-serif;
	font-variation-settings: "wght" var(--font-wgth), "wdth" var(--font-wdth);
	font-size: var(--font-size);
	line-height: var(--line-height);
	min-inline-size: 320px;
	min-block-size: 100dvb;
	gap: 100px;
}

.page::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-image),
		linear-gradient(180deg,
			rgba(231, 231, 231, 1) 0.01%,
			rgba(26, 26, 26, 1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	margin-top: 100px;
	border: var(--border);
	background-color: var(--wh-color);
	position: relative;
	min-inline-size: 696px;
	min-block-size: 368px;
	gap: 20px;
}

.title {
	--line-height: 4.0625rem;
	--font-size: 4.0625rem;
	font-size: var(--font-size);
	font-family: var(--font-family-press);
	line-height: var(--line-height);
	font-weight: 400;
	text-transform: uppercase;
}

.button__block.flex-style {
	align-self: end;
	gap: 12px;
	flex-direction: row;
}

.button-effect {
	overflow: hidden;
	position: relative;
	color: var(--bl-color);
	transition: var(--tr-anim);
}

.save-icon rect {
	--tr-anim: 0.5s fill ease-in-out;
	transition: var(--tr-anim);
}

.button-effect:hover .save-icon rect {
	fill: white;
}

.button-effect::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--bl-color);

	animation: button-hovered-out 0.5s forwards;
	transition: background-color var(--tr-anim);
}

.heart {}

.like-icon {
	cursor: pointer;
}

.core {}


.sparks {
	opacity: 0;
}


.main-body {
	fill: black;
	opacity: 0;
	transition: fill var(--tr-dur) var(--delay), opacity var(--tr-dur) var(--delay);
}

.contour {
	fill: black;
	opacity: 0;
	--delay: 0.05s;
	transition: fill var(--tr-dur), opacity var(--tr-dur);
}

.like-icon:hover .heart .contour {
	fill: black;
	opacity: 1;
	transition: opacity var(--tr-dur) var(--delay), fill var(--tr-dur) var(--delay);
}

.like-icon:hover .heart .main-body {
	opacity: 1;
	transition: opacity var(--tr-dur);
}

.like-icon:active .heart .contour {
	--delay: 0s;
	transition: fill var(--tr-dur) var(--delay);
	fill: #FF0000;
}

.like-icon:active .heart .main-body {
	--delay: 0s;
	fill: #FF0000;
	transition: fill var(--tr-dur) var(--delay);
}

.like-icon.is-liked .heart .main-body {
	opacity: 1;
	fill: #FF0000;

}

.like-icon.is-liked .heart .contour {
	opacity: 1;
	fill: #FF0000;
}

.core {
	transition: fill var(--tr-dur);
}

.sparks {
	transition: fill var(--tr-dur);
}


.like-icon.is-liked .sparks {
	fill: #FF0000;
	opacity: 1;
	transition: fill var(--tr-dur), opacity var(--tr-dur);
}


.like-icon.is-liked .heart .core {
	fill: #FF0000;
	transition: fill var(--tr-dur);
}

@media(hover:hover) {
	.button-effect:hover {
		color: var(--wh-color);
	}

	.button-effect:hover::before {
		animation: button-hovered 0.5s forwards;
	}
}

.button-effect:focus {
	box-shadow: 2px 2px 0px 0px var(--bl-color);
}

.subtitle {
	--line-height: 1.4375rem;
	--font-size: 1.4375rem;
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-family: var(--font-family-press);
	font-weight: 400;
}

.cards__body {
	gap: 52px;
}

.card {
	background-color: var(--wh-color);
	max-inline-size: 696px;
	overflow: hidden;
}

.card__title {
	padding: 3px 24px 3px 10px;
	width: 100%;
	text-align: left;
	font-size: var(--font-size);
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.card img {
	max-width: 696px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__block {
	gap: 27px;
	padding: 25px;
	border-bottom: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.card__description {
	gap: 25px;
	align-items: start;
}

.like-icon {
	align-self: center;
	cursor: pointer;
}


.card__img-brown {
	filter: hue-rotate(360deg) saturate(0.4) brightness(1.4) grayscale(0.5);
}

.card__img-hardlight {
	mix-blend-mode: hard-light;
	filter: hue-rotate(370deg) saturate(2) contrast(2.3) brightness(0.6);
}

.card__img-brownlight {
	filter: hue-rotate(30deg) saturate(1.2) brightness(1.1) grayscale(0.2);
}

.card__img-exclusion {
	mix-blend-mode: exclusion;
}

.card__img-gray {
	filter: grayscale(0.1) brightness(1.1) contrast(1.1) sepia(0.9);
}

.card__img-blur {
	filter: blur(12px);
}

.card__img-green {
	filter: hue-rotate(100deg) saturate(1.3) contrast(1.2) brightness(0.7) opacity(0.6) blur(1.5px);
}

.image-border {
	overflow: hidden;
	border: var(--border);
}

.image__container {
	position: relative;
	max-inline-size: 696px;
	max-block-size: 696px;
}

.text-uppercase {
	text-transform: uppercase;
}

.image__description {
	--font-size: 14px;
	--line-height: 14px;
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 1;
	opacity: 0.5;
	mix-blend-mode: hard-light;
	font-family: var(--font-family-press);
	font-variation-settings: "wght" var(--font-wgth), "wdth" var(--font-wdth);
	font-size: var(--font-size);
	line-height: var(--line-height);
	text-shadow: -1px -1px 0 var(--text-shadow), 1px -1px 0 var(--text-shadow),
		-1px 1px 0 var(--text-shadow), 1px 1px 0 var(--text-shadow);
}

@supports ((-webkit-text-stroke: 1px white) or (text-stroke: 1px white)) {
	.image__description {
		text-stroke: 1px var(--text-shadow);
	}
}

.button-text-style {
	--tr-anim: 0.3s;
	transition: all var(--tr-anim) ease-in-out;
	position: relative;
	--line-height: 0.7875rem;
	--font-size: 0.7875rem;
	font-size: var(--font-size);
	font-family: var(--font-family-press);
	line-height: var(--line-height);
}

.dialog__content {
	display: flex;
	gap: 20px;
	max-inline-size: 294px;
}

.dialog__block {
	display: none;
}

.dialog__block[open] {
	display: flex;
	padding: 30px;
	gap: 30px;
}

.dialog__block[open]::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

.dialog-icon {
	flex: 1 1 42.3px;
	align-self: center;
}

.dialog__text {
	--font-size: 14px;
	--line-height: 21px;
	font-size: var(--font-size);
	line-height: var(--line-height);
	text-transform: uppercase;
	font-family: var(--font-family-press);
	flex: 1 1 234px;
}

.dialog__button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border);
	width: 100%;
	height: 38px;
	text-transform: uppercase;
}

.button__save {
	flex-direction: row;
	gap: 15px;
	background-color: var(--wh-color);
	padding: 14.5px 21px 14.5px 19px;
	cursor: pointer;
	border: var(--border);
}

.button__text {
	z-index: 1;
	position: relative;
	border: var(--border);
	padding: 11.5px 37px;
	cursor: pointer
}


.card__like-button {}