/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
	font-family: var(--accent-font);
	font-variation-settings: "wght" var(--font-wght), "wdth" var(--font-wdth);
	font-size: var(--font-size);
	letter-spacing: 0px;
	line-height: var(--line-height);
	min-inline-size: 320px;
	max-inline-size: 696px;
	min-block-size: 100dvb;
	margin: 0 auto;
	width: 100%;
	background: repeating-linear-gradient(90deg,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px),
		repeating-linear-gradient(0deg,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px),
		linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
	background-size: cover;
	gap: 100px;
	background-attachment: fixed;
	margin-bottom: clamp(100px, 2vw, 103px);
}

.header {
	margin-top: 100px;
	border: var(--border);
	background-color: var(--wh-color);
	position: relative;
	width: 100%;
	padding: clamp(120.4px, 9vw, 128.4px) 0px;
	gap: 20px;
}

.title {
	--line-height: 4.0625rem;
	--font-size: 4.0625rem;
	font-size: var(--font-size);
	font-family: var(--font-main);
	line-height: var(--line-height);
	font-weight: 400;
	text-transform: uppercase;
}

.card-like-buttons {
	align-self: end;
	gap: 6px;
	flex-direction: row;
}

.button-effect {
	position: relative;
	overflow: hidden;
	border: none;
	width: 100%;
	font-size: 16px;
	cursor: pointer;
	--border: 2px solid var(--bl-color);
	border: var(--border);
}

.button-effect:focus {
	box-shadow: 2px 2px 0px 0px var(--bl-color);
}


.button-effect::before {
	content: "";
	--tr-dur: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	width: 100%;
	height: 100%;
	background-color: var(--bl-color);
	transition: transform var(--tr-dur) ease-in-out;
	z-index: 0;
}


@media(hover:hover) {
	.button-effect:hover::before {
		transform: translateX(0%);
	}
}

.save-icon {
	mix-blend-mode: difference;
	height: 21px;
	width: 21px;
}

.card__like-button {
	outline: none;
	background-color: var(--wh-color);
	padding: 8px 0px;
	width: 130px;
}

.sparks,
.core,
.main-body {
	opacity: 0;
}

.card__icon-button {
	height: 100%;
	cursor: pointer;
	outline: solid 2px transparent;
	transition: outline-color var(--tr-dur) ease;
}

.card__icon-button:focus-visible {
	outline: solid 2px var(--bl-color);
}

.main-body {
	transition: fill var(--tr-dur) linear, opacity var(--tr-dur) linear;
}

.contour {
	--tr-dur: 0.1s;
	transition: fill var(--tr-dur), opacity var(--tr-dur) linear;
}

.core {
	--tr-delay: 0.03s;
	transition: fill var(--tr-dur) var(--tr-delay) linear, opacity var(--tr-dur) var(--tr-delay) linear;
}

.like-icon:hover .main-body,
.like-icon:active .main-body {
	--tr-delay: 0.05s;
	opacity: 1;

	transition: opacity var(--tr-dur) var(--tr-delay) linear;
}

.like-icon:hover .core,
.like-icon:active .core {
	opacity: 1;
	transition: opacity var(--tr-dur) linear;
}

.like-icon.is-liked .main-body {
	opacity: 1;
	--tr-delay: 0.05s;
	fill: var(--icon-red-color);
	transition: opacity var(--tr-dur) var(--tr-delay) linear;
}

.like-icon.is-liked .contour {
	opacity: 1;
	--tr-delay: 0.06s;
	fill: var(--icon-red-color);
	transition: opacity var(--tr-dur) var(--tr-delay) linear,
		fill var(--tr-dur) var(--tr-delay) linear;
}

.like-icon.is-liked .core {
	opacity: 1;
	fill: var(--icon-red-color);
	transition: opacity var(--tr-dur) linear;
}

.like-icon.is-liked .sparks {
	transform-origin: center;
	animation: sparks-animation var(--tr-dur) ease-in var(--tr-delay) forwards 1;
}

.like-icon.is-liked {
	--tr-delay: 0.1s;
	transform-origin: center;
	animation: like-icon-animation var(--tr-dur) ease-in var(--tr-delay) forwards 1;
}



.subtitle {
	--line-height: 1.4375rem;
	--font-size: 1.4375rem;
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-family: var(--font-main);
	font-weight: 400;
}

.cards__body {
	gap: 50px;
}

.card {
	max-inline-size: 696px;
	overflow: hidden;
	border: var(--border);
	background-color: var(--wh-color);
}

.card__title {
	--line-height: 21.78px;
	--font-wght: 700;
	font-variation-settings: "wght" var(--font-wght);
	width: 100%;
	text-align: left;
	font-size: var(--font-size);
	line-height: var(--line-height);
	padding: 3.61px 24px 3.61px 10px;
}

.card img {
	width: auto;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.card__block {
	gap: 25px;
	padding: 25px 23px;
}

.card__description {
	gap: 27px;
	align-items: start;
}

.card__description p {
	font-variation-settings: 'wght' var(--font-wght);
}

.card__img-brown {
	filter: hue-rotate(360deg) saturate(0.4) brightness(1.4) grayscale(0.5);
}

.card__img-hardlight {
	mix-blend-mode: hard-light;
	filter: hue-rotate(370deg) saturate(2.3) contrast(2.3) brightness(0.6);
}

.card__img-brownlight {
	filter: hue-rotate(30deg) saturate(1.2) brightness(1.1) grayscale(0.2);
}

.card__img-exclusion {
	mix-blend-mode: exclusion;
	filter: brightness(1.1) contrast(0.5);
}

.card__img-gray {
	filter: grayscale(0.1) brightness(1.1) contrast(1.1) sepia(0.9);
}

.card__img-blur {
	filter: blur(12px);
}

.card__img-green {
	filter: hue-rotate(100deg) saturate(1.3) contrast(1.2) brightness(0.7) opacity(0.6) blur(1.5px);
}

.figure {
	position: relative;
	display: flex;
	flex: 1 1 100%;
	max-width: 696px;
	max-height: 700px;
	overflow: hidden;
	border-top: var(--border);
	border-bottom: var(--border);
}

.text-uppercase {
	text-transform: uppercase;
}

.image__description {
	--font-size: 14px;
	--line-height: 14px;
	position: absolute;
	top: 28px;
	right: 27px;
	z-index: 1;
	opacity: 0.5;
	mix-blend-mode: hard-light;
	font-family: var(--font-main);
	font-size: var(--font-size);
	line-height: var(--line-height);
	text-shadow: -1px -1px 0 var(--text-shadow), 1px -1px 0 var(--text-shadow),
		-1px 1px 0 var(--text-shadow), 1px 1px 0 var(--text-shadow);
}

@supports ((-webkit-text-stroke: 1px white) or (text-stroke: 1px white)) {
	.image__description {
		-webkit-text-stroke: 1px var(--text-shadow);
		text-stroke: 1px var(--text-shadow);
		text-shadow: none;
	}
}

.dialog__content {
	display: flex;
	gap: 20px;
	max-inline-size: 294px;
}

.dialog__block {
	display: none;
}

.dialog__block[open] {
	display: flex;
	padding: 27px 30px;
	background-color: var(--wh-color);
	gap: 30px;
}

.dialog__block[open]::backdrop {
	background: rgba(0, 0, 0, 1);
	opacity: 0.75;
}

.dialog-icon {
	mix-blend-mode: difference;
	flex: 1 1 39.93px;
	align-self: center;
}

.dialog__text {
	--font-size: 14px;
	--line-height: 21px;
	font-size: var(--font-size);
	line-height: var(--line-height);
	text-transform: uppercase;
	font-family: var(--font-main);
	flex: 1 1 234px;
}

.button__text {
	--font-size: 14px;
	--line-height: 12.6px;
	font-size: var(--font-size);
	font-family: var(--font-main);
	line-height: var(--line-height);
	mix-blend-mode: difference;
	color: white;
	z-index: 1;
	position: relative;
	cursor: pointer;
}

.button__save {
	width: 100%;
	background-color: black;
	max-width: clamp(306px, 50vw, 335px);
}

.button-style-save {
	gap: clamp(4px, 5vw, 8px);
	display: flex;
	padding: 15px 18px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	--border: 2px solid var(--bl-color);
}

.button-style-dialog {
	padding: 10.71px 0px;
}

@media (max-width: 767px) {
	.title {
		--line-height: 4.0625rem;
		--font-size: 4.0625rem;
		font-size: clamp(49px, 3vw, var(--line-height));
		line-height: clamp(49px, 3vw, var(--font-size));
	}

	.dialog-icon {
		flex: 1 0 39px;
	}

	.dialog__block[open] {
		padding: 27px 42px;
		min-inline-size: 347px;
	}

	.subtitle {
		--line-height: 1.4375rem;
		--font-size: 1.4375rem;
		font-size: clamp(14px, 3vw, var(--font-size));
		line-height: clamp(14px, 3vw, var(--line-height));
	}

	.card img {
		width: 100%;
	}

	.card__block {
		padding: 25px;
	}

	.card__block-padding {
		padding: 25px 27px;
	}

	.image__description {
		top: 25px;
		right: 10px;
	}

	.page {
		letter-spacing: 0px;
	}

	.button-style-save {
		flex-direction: column;
	}

	.save-icon {
		height: 28px;
		width: 28px;
	}
}