/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-wgth: 400;
  --font-wdth: 100;
  --font-size: 18px;
  --line-height: 21px;
  --title-color: #000000;
  --subtitle-color: #000000;
  --border: 2px solid #000000;
  --bg-color: #ffffff;
  --text-shadow: rgba(255, 255, 255, 1);
  --font-family-press: "Press Start 2P", "Times New Roman", sans-serif;
  --background-image: url("/images/background.png");
}
